.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  display: block;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  ransition-duration: .5s;
  opacity: 0.7;
}

